{% extends 'base.html' %}

{% block content %}

<div> <!-- L'Introduction -->
   Le principale avantage de l'Aënor est qu'elle est conçue pour être facile à apprendre et 
   à utiliser : Elle utilise une grammaire simple et régulière, avec peu d'exceptions, ce 
   qui facilite la mémorisation et l'application des règles. 
</div>

<br>

<div> <!-- La prononciation -->
    <h1>
        La prononciation
    </h1>
    <div>
        Pour la prononciation, l'Aenor utilise des symboles spécifiques por des sons spéifiques.
        La pluparts des sons sont comme en français, (toute les voyele, plus les é et è) et les consonne ne peuvent se prononcer que d'une seule manière, peux importe le contexte.
        (C= [k], S= [S], T=[t])  Mais des autres "consonnes" sont rajoutée : <br>
        Cela signifie que des symboles qui n'ont pas de sons dans des langues "traditioneles" possède néamoins leur sonorité en Aenor.
        par exemple :<br>
        <ul>
            <li>"§" se prononce [ʃ].</li>
            <li>"/" se prononce [ɾ] (légerment plus roulé que [ʁ]).</li>
            <li>"µ" se prononce comme un [m], mais en plus profond, plus sourd, et qui rend plus grave la prochaine voyelle.</li>
            <li>";" se prononce comme un [ə], mais plus comme un "euh".</li>
            <li>"*" se prononce comme un [u],  comme un "ou" français.</li>
            <li>"ù" se prononce comme un [õ], mais en se rapprochant plus du [o] classique.</li>
        </ul>
        Exeption pour "²" : ça ne se prononce pas du tout, mais ce symbole est parfois présent dans un mots pour des raisons technique liée a la typographie et au ligature. "²" est donc 
        totalement invisible dans la typo Aenor, et ne se prononce pas du tout. (Uniquement pour des raisons techniques). 
        Il y a également d'aurtre symboles pour les nombres, mais nous y reviendrons plus tard.
    </div>
</div>

<br>

<div> <!-- L'ordre des mots -->

    <h1>L'ordre principal des mots</h1>
    
    <div>
        En Aënor, l'ordre principal des mots est dans la majorité des cas : <br>
        <ol>
            <li>Déterminant</li>
            <li>Sujet</li>
            <li>Adjectif</li>
            <li>Verbe</li>
            <li>Adverbe</li>
            <li>Complément</li>
            <li>Subordonnant</li>
        </ol>

    </div>
    <div>
        Contrairement aux langues occidentales, pour dire qu'un chat est noir, on ne dit pas forcément "le chat est noir", mais parfois "chat noir". 
        On peut mettre directement l'adjectif près le sujet, sans nécessairement de verbe entre les deux (encore une fois, on peux mettre un verbe entre les 
        deux pour "ampifier" l'adjectif, ou pour faire plus poli, ou pour éviter des quiproquos etc...).
        <strong>Les adjectifs NE SONT JAMAIS accordés.</strong>
        "L'homme est grand" devient "homme grand". 
        (voir règle des articles plus bas, pour voir où est partie le déterminant "l'").
    </div>
</div>

<br>

<div> <!-- Les verbes -->
    <div> <!-- Reconnaitre les verbes -->
        <h1>
            Reconnaitre les verbes :
        </h1>
        <div>
            Les verbes en Aënor se reconnaissent facilement car ils suivent une structure régulière :
            Il finnissent tous par "O" : <br>
            manger : <b class="exemple-grammaire">µaro</b><br>
            parler : <b class="exemple-grammaire">balbèdo</b><br>
            prendre: <b class="exemple-grammaire">paco</b><br>
        </div>
    </div>

    <br>

    <div> <!-- La conjugaison -->
        <h1>
            La conjugaison :
        </h1>
        <div>
            En Aënor, les verbes ne sont pas vraiment conjugués : 
            La conjugaison se fait en ajoutant des préfixes spécifiques au début du verbe 
            en fonction du temps, et les personnes sont indiquées par un rond souligné contenant un symbole spécifique.
            (voir les personnes en dessous). Voici des exemple de verbes conjugués :<br>
            il écrit : <b class="exemple-grammaire">loy rèno§o</b> (se prononce "loy rènocho")<br>
            tu mangera : <b class="exemple-grammaire">doy fonµaro</b> (se prononce "doy fonmharo")<br>
            nous parlions de la guerre : <b class="exemple-grammaire">µoy balbèdo.</b> (se prononce "mhoy balbèdo.")<br>
        </div>
    </div>

    <br>

    <div> <!-- Les négations -->
    <h1>
        Le cas des négations :
    </h1>
    <div>
        Dans le cas d'une négation, le verbe ne se fini pas par "O", mais par un suffixe ayant comme "radicale" <b class="exemple-grammaire">ten</b>.<br>
        Il ne voit pas le sac : <b class="exemple-grammaire">loy binoten s* vèrag</b><br>
        Tu ne mange pas le chien : <b class="exemple-grammaire">doy µaroten s* can</b><br>
        Vous ne protegez pas l'homme : <b class="exemple-grammaire">sinoy bodzoten s* var</b><br>
        <br>
        Ce suffixe peut se décliner sous d'autres formes, tel que :<br>
        Ne + V + pas : <b class="exemple-grammaire">-ten</b><br>
        Ne + V + pas du tout : <b class="exemple-grammaire">-lutèn</b><br>
        Ne + V + plus : <b class="exemple-grammaire">-teni</b><br>
        Ne + V + pas vraiement : <b class="exemple-grammaire">-tenè</b><br>
        Ne + V + pas encore : <b class="exemple-grammaire">-tena</b><br>
        Ne + V + jamais : <b class="exemple-grammaire">-tena</b><br>
        Ne + V + plus jamais : <b class="exemple-grammaire">-atena</b><br>
        Ne + V + que : <b class="exemple-grammaire">-tenvar</b><br>
    </div>
    </div>

    <div> <!-- Les temps -->
        <h1>
            Les temps
        </h1>
        <div>
            En Aënor, les temps sont indiqués par des préfixes spécifiques qu début du verbe :
            Passé : <b class="exemple-grammaire">bal</b><br>
            Futur : <b class="exemple-grammaire">fon</b><br>
            Il n'y a que deux temps, et le manque de préfixe indique le présent.
        </div>
    </div>
</div>

<br>

<div> <!--Les personnes-->
<h1>
    Les personnes : 
</h1>
<div>
    En Aënor, les personnes sont indiquées par un rond souligné contenant un symbole spécifique :<br>
    Je : <b class="exemple-grammaire">roy</b><br>
    Tu : <b class="exemple-grammaire">doy</b><br>
    Il/Elle : <b class="exemple-grammaire">loy</b><br>
    Il "impersonnel" : <b class="exemple-grammaire">oµo</b><br>
    Nous : <b class="exemple-grammaire">µoy</b><br>
    Vous : <b class="exemple-grammaire">sinoy</b><br>
    Ils/Elles : <b class="exemple-grammaire">linoy</b><br>
    
    <br>
    Pour les pronoms réfléchis, c'est la même chose, mais mit juste en dessous du verbe, et avec un "n" a la place du "y" :<br>
    Il <strong>s'</strong>est protégé : <b class="exemple-grammaire">loy lon²bodzo</b> (se prononce "loy lon bodzo")<br>
    Je <strong>te</strong> promets : <b class="exemple-grammaire">roy don²sereno</b> (se prononce "roy don sereno")<br>
    Tu <strong>l'</strong>a oubliés : <b class="exemple-grammaire">doy lon²norxo</b> (se prononce "doy lon norxo")<br>
</div>
<br>
<div>
    Le déterminant n'est pas obligatoire, et est souvent omis, surtout dans les phrases courtes.
    Par exemple, pour dire le chien mange, on dit plus souvent "chien mange" : <b class="exemple-grammaire">can maro</b> que "le chien mange" <b class="exemple-grammaire">s* can maro</b>.
    Lorsque que l'on utilise le determinant, il sert a renforcer le sujet, comme en espagnole ou l'on met rarement de pronom personel sujet avant le verbe, mais lorsqu'il est présent, il sert a renforcer le sujet.<br>
    Les différent déterminants sont :<br>
    <ul>
        <li>la/le :<b class="exemple-grammaire">s*</b></li>
        <li>les : <b class="exemple-grammaire">s*né</b></li>
        <li>une/un : <b class="exemple-grammaire">y*</b></li>
        <li>des : <b class="exemple-grammaire">y*né</b></li>
</div>
</div>


<div> <!-- Place des subordonnants en Aënor -->
    <h1>
        Place des subordonnants en Aënor
    </h1>
    <div>
        En Aënor, les subordonnants ne se placent pas au début de la proposition comme en français. 
        Ils se placent à la fin de la proposition qu'ils introduisent, et marquent sa fonction. Structure :<br>
        Proposition principale + [proposition subordonnée + subordonnant] <br>
        Exemples :<br>
        <ul>
            <li><b class="exemple-grammaire">Roy bino doy nèxo vaypa</b> → Je vois lorsque tu viens.</li>
            <li><b class="exemple-grammaire">Tu zadco loy doncroko bodpa</b> → J'attaque parce qu'il te hait.</li>
            <li><b class="exemple-grammaire">Roy noro y²uao nèpa</b> → Je dors bien qu'il pleuve</li>
        </ul>
    </div>
</div>

<div> <!-- Les verbes modaux en Aënor -->
    <h1>
        Les verbes modaux en Aënor
    </h1>
    <div>
        En Aënor, les verbes modaux ne sont pas de véritables verbes. 
        Ils prennent la forme de particules placées après le verbe 
        principal, ce qui évite les constructions occidentales du 
        type « vouloir manger » ou « pouvoir venir ». <br>
        <strong>Structure : Sujet + Verbe + Modalité</strong> Les particules modales sont colées au verbe par un tiret "-" <br>
        Les principales particules modales sont :<br>
        <ul>
            <li><b class="exemple-grammaire">-var</b> : vouloir</li>
            <li><b class="exemple-grammaire">-bap</b> : pouvoir</li>
            <li><b class="exemple-grammaire">-dor</b> : devoir</li>
            <li><b class="exemple-grammaire">-mel</b> : souhaiter</li>
            <li><b class="exemple-grammaire">-§ar</b> : oser</li>
        </ul>
        Exemples :<br>
        <ul>
            <li><b class="exemple-grammaire">Roy µaro-var</b> → Je veux manger.</li>
            <li><b class="exemple-grammaire">Roy veyo-bap</b> → Je peux partir.</li>
            <li><b class="exemple-grammaire">Loy veyo-dor</b> → Il doit partir.</li>
            <li><b class="exemple-grammaire">Roy µaro-mel</b> → J'aimerais manger.</li>
            <li><b class="exemple-grammaire">Sinoy zadco-§ar</b> → Vous osez attaquer.</li>
        </ul>
    </div>
</div>

<div> <!-- Les nombres en Aënor -->
    <h1>
        Les nombres en Aënor
    </h1>
    <div>
        Le système numérique Aënor utilise une base 12 plutôt qu'une base 10. Ainsi, après le chiffre 11, on passe à 10, qui 
        représente en réalité douze unités. Ce choix vient de la grande divisibilité du nombre 12, qui facilite les calculs et les fractions.
        Chaque nombre possède à la fois une valeur mathématique et une valeur symbolique, héritée des croyances et de la culture aënorienne. 
        Les nombres ne sont donc pas de simples outils de calcul, mais également des concepts philosophiques.

    <table>
        <tr>
            <th>Nombre en base 10 <br>(nombre arabe)</th>
            <th>Symbole Aënor <br>(nombre/symboles à utiliser pour la typographie en Aënor)</th>
            <th>Prononciation</th>
            <th>Valeur symbolique</th>
        </tr>

        <tr>
            <td>0</td>
            <td>0 = <b class="exemple-grammaire">0</b></td>
            <td><b>Nor</b></td>
            <td>Le Vide, l'absence, le néant potentiel.</td>
        </tr>

        <tr>
            <td>1</td>
            <td>1 = <b class="exemple-grammaire">1</b></td>
            <td><b>Val</b></td>
            <td>L'Origine, l'unité, le commencement.</td>
        </tr>

        <tr>
            <td>2</td>
            <td>2 = <b class="exemple-grammaire">2</b></td>
            <td><b>Der</b></td>
            <td>Le Reflet, la dualité, l'équilibre.</td>
        </tr>

        <tr>
            <td>3</td>
            <td>3 = <b class="exemple-grammaire">3</b></td>
            <td><b>Vay</b></td>
            <td>Le Chemin, la progression, le mouvement.</td>
        </tr>

        <tr>
            <td>4</td>
            <td>4 = <b class="exemple-grammaire">4</b></td>
            <td><b>Drèb</b></td>
            <td>Les Racines, la stabilité, les fondations.</td>
        </tr>

        <tr>
            <td>5</td>
            <td>5 = <b class="exemple-grammaire">5</b></td>
            <td><b>Dar</b></td>
            <td>La Main, l'action, la création.</td>
        </tr>

        <tr>
            <td>6</td>
            <td>6 = <b class="exemple-grammaire">6</b></td>
            <td><b>Mel</b></td>
            <td>L'Équilibre, l'harmonie parfaite.</td>
        </tr>

        <tr>
            <td>7</td>
            <td>7 = <b class="exemple-grammaire">7</b></td>
            <td><b>§yèl</b></td>
            <td>Les Astres, le voyage, l'influence céleste.</td>
        </tr>

        <tr>
            <td>8</td>
            <td>8 = <b class="exemple-grammaire">8</b></td>
            <td><b>Cayr</b></td>
            <td>Le Cycle, le retour, le renouvellement.</td>
        </tr>

        <tr>
            <td>9</td>
            <td>9 = <b class="exemple-grammaire">9</b></td>
            <td><b>Drav</b></td>
            <td>Le Destin, les choix et leurs conséquences.</td>
        </tr>

        <tr>
            <td>10</td>
            <td>° = <b class="exemple-grammaire">°</b></td>
            <td><b>µar</b></td>
            <td>La Transformation, le changement profond.</td>
        </tr>

        <tr>
            <td>11</td>
            <td>¤ = <b class="exemple-grammaire">¤</b></td>
            <td><b>Vèl</b></td>
            <td>L'Accomplissement, l'achèvement d'un cycle.</td>
        </tr>

        <tr>
            <td>12</td>
            <td>10 = <b class="exemple-grammaire">10</b></td>
            <td><b>Val-Nor</b></td>
            <td>Le Premier Cycle complet.</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Base 10</th>
            <th>Base 12 Aënor</th>
            <th>Lecture</th>
        </tr>

        <tr>
            <td>12</td>
            <td>10 = <b class="exemple-grammaire">10</b></td>
            <td>Un cycle</td>
        </tr>

        <tr>
            <td>13</td>
            <td>11 = <b class="exemple-grammaire">11</b></td>
            <td>Un cycle et une origine</td>
        </tr>

        <tr>
            <td>24</td>
            <td>20 = <b class="exemple-grammaire">20</b></td>
            <td>Deux cycles</td>
        </tr>

        <tr>
            <td>36</td>
            <td>30 = <b class="exemple-grammaire">36</b></td>
            <td>Trois cycles</td>
        </tr>

        <tr>
            <td>144</td>
            <td>100 = <b class="exemple-grammaire">100</b></td>
            <td>Un grand cycle (12²)</td>
        </tr>
    </table>

    </div>
</div>
{% endblock %}