<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Aënor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=static_path('|staticPATH|style')) }}">
    {% block head %}{% endblock %}
</head>
<body class="admin-body">

<nav class="navbar">
    <a href="/" class="nav-element">Accueil</a>
    <a href="/cours" class="nav-element">Lexique</a>
    <a href="/exercice" class="nav-element">Exercices</a>
    <a href="/grammaire_3" class="nav-element">Grammaire</a>
    <a href="/ia-trad" class="nav-element">Traducteur</a>
    <a href="/scenario" class="nav-element">Scénario</a>
    <a href="/admin" class="nav-element">Admin</a>
</nav>

<div class="admin-shell">
    {% block content %}{% endblock %}
</div>

</body>
</html>