{% extends 'base.html' %}

{% block content %}

<div class="exercise-header-row">

    <h1 class="section-heading">Traduisez :</h1>
    
    {% if phrase %}
        <p class="phrase">{{ phrase }}</p>
        <br>
    {% endif %}
</div>

<br>

<div class="center-column">
    {% if phrase %}
        <form method="POST" class="form-wrapper">
        <input
            id="prompt-ae"
            placeholder="Ecrivez votre réponse ici :"

            type="text"
            name="answer"
            required
            spellcheck="false"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off">

            <input type="hidden" name="phrase" value="{{ phrase }}">
            <button type="submit" class="btn-IA-trad" style="margin-top: 15px;">Valider</button>
        </form>

    {% else %}
        <p>❌ Aucune phrase disponible</p>
    {% endif %}

</div>

{% endblock %} 