{% extends 'base.html' %}

{% block content %}
<div class="conlang-documentation">
    <h2>
     La prononciation
    </h2>
    <p>
     Pour la prononciation, l'Aenor utilise des symboles spécifiques pour des sons spéifiques.
     <br/>
     La pluparts des sons sont comme en français, (toute les voyele, plus les é et è) et les consonnes ne peuvent se prononcer que d'une seule manière, peux importe le contexte.
     <br/>
     (C= [k], S= [s], T=[t]) Mais d'autres "consonnes" sont rajoutée :
    </p>
    <p>
     Cela signifie que des symboles qui n'ont pas de sons dans des langues "traditioneles" possède néamoins leur sonorité en Aenor.
     <br/>
     par exemple :
    </p>
    <ul>
     <li>
      "
      <b class="exemple-grammaire">
       §
      </b>
      " (au clavier " § ") se prononce [ʃ].
     </li>
     <li>
      "
      <b class="exemple-grammaire">
       /
      </b>
      " (au clavier " / ") se prononce [ɾ] (légerment plus roulé que [ʁ]).
     </li>
     <li>
      "
      <b class="exemple-grammaire">
       µ
      </b>
      " (au clavier " µ ") se prononce comme un [m], mais en plus profond, plus sourd, et qui rend plus grave la prochaine voyelle.
     </li>
     <li>
      "
      <b class="exemple-grammaire">
       =
      </b>
      " (au clavier " = ") se prononce comme un [l], mais en plus profond, plus sourd, et qui rend plus grave la prochaine voyelle.
     </li>
     <li>
      "
      <b class="exemple-grammaire">
       ;
      </b>
      " (au clavier " ; ") se prononce comme un [ə], mais plus comme un "euh".
     </li>
     <li>
      "
      <b class="exemple-grammaire">
       *
      </b>
      " (au clavier " * ") se prononce comme un [u], comme un "ou" français.
      <br/>
      Note : le "y" n'est qu'une consonne, et ne joue
      <strong>
       EN AUCUN CAS
      </strong>
      le rôle de voyelle.
      <br/>
      Ces symoboles sont utilisées comme des lettres classique, sans distinction.
      <br/>
      Exeption pour "²" : ça ne se prononce pas du tout et
      <strong>
       n'a aucune utilité dans la langue.
      </strong>
      Ce symbole est néamoins parfois présent dans un ou pusieurs mot(s) pour des raisons techniques liée à la typographie et aux ligatures. "²"est donc totalement invisible dans la typo Aenor, et
      <strong>
       ne se prononce pas du tout
      </strong>
      , mais est obligatoire si demandé.
      <br/>
      Il y a également d'aurtre symboles pour les nombres, mais nous y reviendrons plus tard.
     </li>
    </ul>
    <h2>
     L'ordre principal des mots
    </h2>
    <p>
     En Aënor, la phrase est organisée autour du
     <strong>
      thème
     </strong>
     : le premier élément est toujours ce dont on parle. Le reste de la phrase se construit autour de lui selon cette structure fondamentale :
    </p>
    <p>
     <strong>
      Thème + Agent + Verbe
     </strong>
    </p>
    <p>
     Le thème est l'élément mis en avant dans le discours. L'agent est celui qui accomplit l'action. Le verbe termine la proposition. Cette structure gère simultanément la fonction grammaticale (qui fait quoi) et la nuance stylistique (ce dont on parle).
    </p>
    <p>
     Les éléments secondaires viennent enrichir cette structure de base dans l'ordre suivant :
    </p>
    <ol>
     <li>
      Déterminant
      <em>
       (optionnel, précède le thème)
      </em>
     </li>
     <li>
      Thème / Sujet
     </li>
     <li>
      Adjectif
      <em>
       (directement après le nom qu'il qualifie)
      </em>
     </li>
     <li>
      Agent
      <em>
       (s'il est distinct du thème)
      </em>
     </li>
     <li>
      Verbe
     </li>
     <li>
      Adverbe
      <em>
       (directement après le verbe)
      </em>
     </li>
     <li>
      Subordonnant
      <em>
       (en fin de proposition)
      </em>
     </li>
    </ol>
    <p>
     Exemples fondamentaux :
    </p>
    <ul>
     <li>
      Le chien mange l'homme
      <em>
       (le chien agit, il est thème et agent)
      </em>
      :
      <strong>
       <b class="exemple-grammaire">
        can var µaro
       </b>
      </strong>
     </li>
     <li>
      L'homme est mangé par le chien
      <em>
       (l'homme est mis en avant)
      </em>
      :
      <strong>
       <b class="exemple-grammaire">
        var can µaro
       </b>
      </strong>
     </li>
     <li>
      Le grand chien mange l'homme :
      <strong>
       <b class="exemple-grammaire">
        can gorè var µaro
       </b>
      </strong>
     </li>
    </ul>
    <h2>
     Les adverbes
    </h2>
    <p>
     En Aënor, les adverbes sont formés à partir des adjectifs par l'ajout du suffixe
     <strong>
      -ay
     </strong>
     . Ils sont invariables et se placent directement après le verbe qu'ils modifient.
    </p>
    <p>
     <strong>
      Formation : [Adjectif] + -ay
     </strong>
    </p>
    <p>
     Quelques exemples de formation :
    </p>
    <ul>
     <li>
      rapide
      <em>
       (adjectif)
      </em>
      → rapidement
      <em>
       (adverbe)
      </em>
      :
      <strong>
       <b class="exemple-grammaire">
        vèlnè
       </b>
      </strong>
      →
      <strong>
       <b class="exemple-grammaire">
        vèlnèay
       </b>
      </strong>
     </li>
     <li>
      doux, calme
      <em>
       (adjectif)
      </em>
      → doucement :
      <strong>
       <b class="exemple-grammaire">
        vélinè
       </b>
      </strong>
      →
      <strong>
       <b class="exemple-grammaire">
        vélinèay
       </b>
      </strong>
     </li>
     <li>
      fort, puissant
      <em>
       (adjectif)
      </em>
      → fortement :
      <strong>
       <b class="exemple-grammaire">
        bègorè
       </b>
      </strong>
      →
      <strong>
       <b class="exemple-grammaire">
        bègorèay
       </b>
      </strong>
     </li>
     <li>
      sombre
      <em>
       (adjectif)
      </em>
      → sombrement :
      <strong>
       <b class="exemple-grammaire">
        noryè
       </b>
      </strong>
      →
      <strong>
       <b class="exemple-grammaire">
        noryèay
       </b>
      </strong>
     </li>
    </ul>
    <p>
     Exemples en phrase :
    </p>
    <ul>
     <li>
      il court rapidement :
      <strong>
       <b class="exemple-grammaire">
        loy daro vèlnèay
       </b>
      </strong>
     </li>
     <li>
      elle parle doucement :
      <strong>
       <b class="exemple-grammaire">
        loy ba²lbèdo vélinèay
       </b>
      </strong>
     </li>
     <li>
      ils frappent fortement :
      <strong>
       <b class="exemple-grammaire">
        linoy §yéro bègorèay
       </b>
      </strong>
     </li>
    </ul>
    <p>
     Les adverbes de degré
     <em>
      (très, peu, assez)
     </em>
     sont des mots indépendants placés directement avant l'adjectif ou l'adverbe qu'ils modifient :
    </p>
    <ul>
     <li>
      très :
      <strong>
       <b class="exemple-grammaire">
        mèl
       </b>
      </strong>
     </li>
     <li>
      peu :
      <strong>
       <b class="exemple-grammaire">
        jab
       </b>
      </strong>
     </li>
     <li>
      assez, plutôt :
      <strong>
       <b class="exemple-grammaire">
        dèrn
       </b>
      </strong>
     </li>
     <li>
      trop :
      <strong>
       <b class="exemple-grammaire">
        vèlag
       </b>
      </strong>
     </li>
    </ul>
    <p>
     Exemples :
    </p>
    <ul>
     <li>
      très grand :
      <strong>
       <b class="exemple-grammaire">
        mèl gorè
       </b>
      </strong>
     </li>
     <li>
      il mange peu :
      <strong>
       <b class="exemple-grammaire">
        loy µaro jab
       </b>
      </strong>
     </li>
     <li>
      tu parles trop vite :
      <strong>
       <b class="exemple-grammaire">
        doy balbèdo vèlag vèlnèay
       </b>
      </strong>
     </li>
    </ul>
    <h2>
     La localisation et l'existence
    </h2>
    <p>
     Pour situer un sujet dans l'espace, affirmer sa présence physique ou dire "être à un endroit", l'Aënor utilise le verbe d'action statique
     <strong>
      pazo
     </strong>
     (se trouver, résider, exister physiquement).
    </p>
    <p>
     <strong>
      Structure :
     </strong>
     Sujet + pazo + Préposition + Lieu
    </p>
    <p>
     <strong>
      Exemples
     </strong>
     :
     <br/>
     *
     <strong>
      Je suis dans la maison :
     </strong>
     <b class="exemple-grammaire">
      roy pazo nè bèran
     </b>
     <em>
      (littéralement : "je me-trouve dans maison")
     </em>
     <br/>
     *
     <strong>
      Le chat est sous la table :
     </strong>
     <b class="exemple-grammaire">
      l*bin pazo nor tèpal
     </b>
     <em>
      (littéralement : "chat se-trouve sous table")
     </em>
     <br/>
     *
     <strong>
      Le village est près de la rivière :
     </strong>
     <b class="exemple-grammaire">
      nerac pazo fela l*mé
     </b>
     <em>
      (littéralement : "village se-trouve près-de rivière")
     </em>
    </p>
    <p>
     Comme n'importe quel verbe,
     <strong>
      pazo
     </strong>
     accepte les préfixes de temps et les infixes d'aspect :
     <br/>
     *
     <strong>
      Je me trouvais dans la maison (passé) :
     </strong>
     <b class="exemple-grammaire">
      roy balpazo nè bèran
     </b>
    </p>
    <h2>
     Les verbes
    </h2>
    <h3>
     Reconnaitre les verbes :
    </h3>
    <p>
     Les verbes en Aënor se reconnaissent facilement car ils suivent une structure régulière :
     <br/>
     Il finnissent tous par "O" :
    </p>
    <p>
     manger :
     <b class="exemple-grammaire">
      µaro
     </b>
     <br/>
     parler :
     <b class="exemple-grammaire">
      balbèdo
     </b>
     <br/>
     prendre :
     <b class="exemple-grammaire">
      paco
     </b>
     <br/>
     voir :
     <b class="exemple-grammaire">
      bino
     </b>
    </p>
    <p>
     Nous allons d'ailleur utiliser principalement ces verbes la dans les exemples.
    </p>
    <h3>
     La conjugaison :
    </h3>
    <p>
     En Aënor, les verbes ne sont pas vraiment conjugués :
     <br/>
     La conjugaison se fait en ajoutant des préfixes spécifiques au début du verbe en fonction du temps, et les personnes sont indiquées comme ci-dessous : (par un rond souligné contenant un symbole spécifique.)
     <br/>
     (voir les personnes en dessous). Voici des exemple de verbes conjugués :
    </p>
    <p>
     Je vois :
     <strong>
      <b class="exemple-grammaire">
       roy bino
      </b>
     </strong>
     <br/>
     Tu vois :
     <strong>
      <b class="exemple-grammaire">
       doy bino
      </b>
     </strong>
     <br/>
     Elles voient :
     <strong>
      <b class="exemple-grammaire">
       linoy bino
      </b>
     </strong>
    </p>
    <h3>
     Le cas des négations :
    </h3>
    <p>
     Dans le cas d'une négation, le verbe ne se fini pas par "O", mais par un suffixe ayant comme "radicale"
     <strong>
      <b class="exemple-grammaire">
       ten
      </b>
     </strong>
     .
    </p>
    <p>
     Il ne voit pas encore le sac : loy
     <b class="exemple-grammaire">
      s* vèrag binotena
     </b>
     <em>
      ("tena" souligné)
     </em>
     <br/>
     Tu ne mange plus jamais de chien :
     <b class="exemple-grammaire">
      doy can µaroatenor
     </b>
     <em>
      ("atenor" souligné)
     </em>
     <br/>
     Vous ne protegez pas l'homme :
     <b class="exemple-grammaire">
      sinoy s* var bodzoten
     </b>
     <em>
      ("ten" souligné)
     </em>
    </p>
    <p>
     Ce suffixe peut se décliner sous d'autres formes, tel que :
    </p>
    <ul>
     <li>
      Ne + V + pas :
      <strong>
       -
       <b class="exemple-grammaire">
        ten
       </b>
      </strong>
      , qui se prononce "ten"
     </li>
     <li>
      Ne + V + pas du tout :
      <strong>
       -
       <b class="exemple-grammaire">
        lutèn
       </b>
      </strong>
      , qui se prononce "luten"
     </li>
     <li>
      Ne + V + plus :
      <strong>
       -
       <b class="exemple-grammaire">
        teni
       </b>
      </strong>
      , qui se prononce "teni"
     </li>
     <li>
      Ne + V + pas vraiement :
      <strong>
       -
       <b class="exemple-grammaire">
        tenè
       </b>
      </strong>
      , qui se prononce "tenè"
     </li>
     <li>
      Ne + V + pas encore :
      <strong>
       -
       <b class="exemple-grammaire">
        tena
       </b>
      </strong>
      , qui se prononce "tena"
     </li>
     <li>
      Ne + V + jamais :
      <strong>
       -
       <b class="exemple-grammaire">
        tenor
       </b>
      </strong>
      , qui se prononce "tenor"
     </li>
     <li>
      Ne + V + plus jamais :
      <strong>
       -
       <b class="exemple-grammaire">
        atenor
       </b>
      </strong>
      , qui se prononce "atenor"
     </li>
     <li>
      Ne + V + que :
      <strong>
       -
       <b class="exemple-grammaire">
        tenvar
       </b>
      </strong>
      , qui se prononce "tenvar"
     </li>
    </ul>
    <h3>
     Les temps
    </h3>
    <p>
     En Aënor, les temps sont indiqués par des préfixes spécifiques qu début du verbe :
     <br/>
     Passé :
     <strong>
      <b class="exemple-grammaire">
       bal
      </b>
     </strong>
     <br/>
     Futur :
     <strong>
      <b class="exemple-grammaire">
       fon
      </b>
     </strong>
     <br/>
     Il n'y a que deux temps, et le manque de préfixe indique le présent.
    </p>
    <h3>
     L'aspect verbal
    </h3>
    <p>
     En Aënor, on distingue deux aspects qui précisent le déroulement de l'action. Ils se placent comme des infixes, insérés entre le radical du verbe et sa terminaison
     <strong>
      -
      <b class="exemple-grammaire">
       o
      </b>
     </strong>
     finale :
    </p>
    <p>
     <strong>
      Aspect en cours
     </strong>
     (action non terminée, en train de se faire) : infixe
     <strong>
      <b class="exemple-grammaire">
       -iy-
      </b>
     </strong>
     <br/>
     <strong>
      Aspect accompli
     </strong>
     (action terminée, dont le résultat est présent) : infixe
     <strong>
      -
      <b class="exemple-grammaire">
       en-
      </b>
     </strong>
    </p>
    <p>
     Sans infixe d'aspect, le verbe est neutre (simple déclaration de fait).
    </p>
    <p>
     Exemples :
    </p>
    <p>
     il mange
     <em>
      (neutre)
     </em>
     :
     <b class="exemple-grammaire">
      loy µaro
     </b>
     <br/>
     il est en train de manger :
     <b class="exemple-grammaire">
      loy µariyo
     </b>
     <em>
      ("iy" souligné)
     </em>
     <br/>
     il a mangé
     <em>
      (accompli, résultat présent)
     </em>
     :
     <b class="exemple-grammaire">
      loy µareno
     </b>
     <em>
      ("en" souligné)
     </em>
    </p>
    <p>
     L'aspect se combine normalement avec les préfixes de temps :
    </p>
    <p>
     il était en train de manger :
     <strong>
      <b class="exemple-grammaire">
       loy balµariyo
      </b>
     </strong>
     <em>
      (iy souligné)
     </em>
     <br/>
     il avait mangé :
     <strong>
      <b class="exemple-grammaire">
       loy balµareno
      </b>
     </strong>
     <em>
      (en souligné)
     </em>
    </p>
    <p>
     La présence de ses infixes n'est pas obligatoire, mais leur présence aporte de la profondeur où des détails.
    </p>
    <h3>
     L'impératif
    </h3>
    <p>
     À l'impératif, le pronom sujet est conservé. La particule
     <strong>
      <b class="exemple-grammaire">
       zo
      </b>
     </strong>
     est colée au sujet pour marquer l'ordre ou l'injonction.
    </p>
    <p>
     Exemples :
    </p>
    <p>
     (tu) Mange ! :
     <b class="exemple-grammaire">
      doy-zo µaro
     </b>
     <br/>
     (tu) Pars ! :
     <b class="exemple-grammaire">
      doy-zo veyo
     </b>
     <br/>
     Ne mange pas ! :
     <b class="exemple-grammaire">
      doy-zo µaroten
     </b>
    </p>
    <p>
     Pour un impératif inclusif (« mangeons ! »), le pronom
     <strong>
      <b class="exemple-grammaire">
       µoy
      </b>
     </strong>
     est utilisé :
    </p>
    <p>
     Mangeons ! :
     <b class="exemple-grammaire">
      µoy-zo µaro
     </b>
    </p>
    <h3>
     Le conditionnel
    </h3>
    <p>
     Le conditionnel suit la même logique que les autres temps : il utilise un préfixe court placé devant le verbe. Ce préfixe est
     <strong>
      rin-
     </strong>
     .
    </p>
    <p>
     Passé :
     <strong>
      <b class="exemple-grammaire">
       bal-
      </b>
     </strong>
     / Futur :
     <strong>
      <b class="exemple-grammaire">
       fon-
      </b>
     </strong>
     / Conditionnel :
     <strong>
      <b class="exemple-grammaire">
       rin-
      </b>
     </strong>
    </p>
    <p>
     Exemples :
    </p>
    <ul>
     <li>
      je mangerais :
      <strong>
       <b class="exemple-grammaire">
        roy rinµaro
       </b>
      </strong>
     </li>
     <li>
      il partirait :
      <strong>
       <b class="exemple-grammaire">
        loy rinveyo
       </b>
      </strong>
     </li>
     <li>
      tu verrais :
      <strong>
       <b class="exemple-grammaire">
        doy rinbino
       </b>
      </strong>
     </li>
    </ul>
    <p>
     <strong>
      La phrase conditionnelle complète
     </strong>
    </p>
    <p>
     La condition est exprimée par le subordonnant
     <strong>
      <b class="exemple-grammaire">
       §a
      </b>
     </strong>
     ("si"), selon la règle générale des subordonnants : la proposition conditionnelle se place après la principale et se termine par
     <strong>
      <b class="exemple-grammaire">
       §a
      </b>
     </strong>
     .
    </p>
    <p>
     Structure :
     <strong>
      [Principale au conditionnel] + [Subordonnée +
      <b class="exemple-grammaire">
       §a
      </b>
      ]
     </strong>
    </p>
    <p>
     Exemples :
    </p>
    <ul>
     <li>
      Je mangerais si tu venais :
      <strong>
       <b class="exemple-grammaire">
        roy rinµaro doy nèxo §a
       </b>
      </strong>
     </li>
     <li>
      Il partirait si le chien aboyait :
      <strong>
       <b class="exemple-grammaire">
        loy rinveyo can §yéro §a
       </b>
      </strong>
     </li>
     <li>
      Tu verrais l'homme si tu venais :
      <strong>
       <b class="exemple-grammaire">
        doy var rinbino doy nèxo §a
       </b>
      </strong>
     </li>
    </ul>
    <p>
     Le préfixe
     <strong>
      <b class="exemple-grammaire">
       rin
      </b>
      -
     </strong>
     ne s'applique qu'à la proposition principale. La subordonnée conditionnelle, elle, reste au présent — c'est le subordonnant
     <strong>
      <b class="exemple-grammaire">
       §a
      </b>
     </strong>
     seul qui indique l'hypothèse.
    </p>
    <h2>
     Le point de vue
    </h2>
    <p>
     Contrairement au français, l'Aënor ne possède pas de véritable voix passive.
     <br/>
     Le verbe ne change jamais de forme et aucune particule n'est nécessaire.
     <br/>
     La langue modifie simplement l'ordre des groupes de la phrase afin d'indiquer quel élément est au centre du discours.
    </p>
    <p>
     Le premier nom de la phrase représente toujours le thème, c'est-à-dire l'élément dont on souhaite principalement parler. Les autres participants viennent ensuite, puis le verbe termine la proposition.
    </p>
    <p>
     <strong>
      Structure générale :
     </strong>
     <br/>
     <strong>
      Thème + Agent + Verbe
     </strong>
    </p>
    <p>
     Exemples :
     <br/>
     (Rappel : can = chien, var = homme, µaro = manger)
    </p>
    <p>
     Le chien mange l'homme :
     <br/>
     <strong>
      can var µaro
     </strong>
    </p>
    <p>
     L'homme est mangé par le chien :
     <br/>
     <strong>
      var can µaro
     </strong>
    </p>
    <p>
     Si l'agent est inconnu, sans importance ou évident par le contexte, il peut être simplement omis.
    </p>
    <p>
     L'homme est mangé :
     <br/>
     <strong>
      var µaro
     </strong>
    </p>
    <p>
     Ainsi, l'Aënor ne distingue pas une voix active et une voix passive.
     <br/>
     Seul le point de vue change : le premier nom indique toujours l'élément mis en avant dans le discours.
    </p>
    <h2>
     Les personnes :
    </h2>
    <p>
     En Aënor, les personnes sont indiquées par un rond souligné contenant un symbole spécifique :
    </p>
    <p>
     Je :
     <strong>
      <b class="exemple-grammaire">
       roy
      </b>
     </strong>
     <br/>
     Tu :
     <strong>
      <b class="exemple-grammaire">
       doy
      </b>
     </strong>
     <br/>
     Il/Elle :
     <strong>
      <b class="exemple-grammaire">
       loy
      </b>
     </strong>
     <br/>
     Nous :
     <strong>
      <b class="exemple-grammaire">
       µoy
      </b>
     </strong>
     <br/>
     Vous :
     <strong>
      <b class="exemple-grammaire">
       sinoy
      </b>
     </strong>
     <br/>
     Ils/Elles :
     <strong>
      <b class="exemple-grammaire">
       linoy
      </b>
     </strong>
    </p>
    <p>
     Pour les pronoms réfléchis, c'est la même chose, mais mit juste en dessous du verbe, et avec un "
     <b class="exemple-grammaire">
      n
     </b>
     " a la place du "
     <b class="exemple-grammaire">
      y
     </b>
     " :
     <br/>
     me :
     <b class="exemple-grammaire">
      ron
     </b>
     <br/>
     te :
     <b class="exemple-grammaire">
      don
     </b>
     <br/>
     se :
     <b class="exemple-grammaire">
      lon
     </b>
     <br/>
     nous :
     <b class="exemple-grammaire">
      µon
     </b>
     <br/>
     vous :
     <b class="exemple-grammaire">
      sinon
     </b>
     <br/>
     se :
     <b class="exemple-grammaire">
      linon
     </b>
    </p>
    <p>
     Il
     <strong>
      s'
     </strong>
     est protégé :
     <strong>
      <b class="exemple-grammaire">
       loy lon²bodzeno
      </b>
     </strong>
     <br/>
     Je
     <strong>
      te
     </strong>
     promets :
     <strong>
      <b class="exemple-grammaire">
       roy don²sereno
      </b>
     </strong>
     <br/>
     Tu
     <strong>
      l'
     </strong>
     a oubliés :
     <strong>
      <b class="exemple-grammaire">
       doy lon²norxeno
      </b>
     </strong>
    </p>
    <h2>
     L'absence de sujet impersonnel
    </h2>
    <p>
     L'Aënor refuse l'utilisation de pronoms "sujets fantômes" (comme le
     <em>
      "il"
     </em>
     du français dans "il pleut" ou "il fait froid"). Les phénomènes météorologiques ou les états environnementaux sont exprimés directement.
    </p>
    <p>
     Selon le contexte, on emploie soit un verbe d'action seul (sans aucun pronom), soit un adjectif ou un nom posé comme un état brut (sans verbe).
    </p>
    <p>
     Exemples :
    </p>
    <ul>
     <li>
      Il pleut (le verbe seul suffit) :
      <b class="exemple-grammaire">
       y²uao
      </b>
      (littéralement : "pleuvoir / l'eau tombe")
     </li>
     <li>
      Il fait froid (l'état est posé directement) :
      <b class="exemple-grammaire">
       l*µèo
      </b>
      (littéralement : "froid")
     </li>
    </ul>
    <p>
     Cette économie de moyens renforce le lien organique de la langue avec la nature : les éléments agissent d'eux-mêmes sans avoir besoin d'un pronom artificiel pour exister grammaticalement.
    </p>
    <h2>
     Les déterminants démonstratifs
    </h2>
    <p>
     En Aënor, le déterminant démonstratif n'est pas obligatoire, et est souvent omis, surtout dans les phrases courtes.
     <br/>
     Par exemple, pour dire le chien mange, on dit plus souvent "chien mange" = "can µaro" que : "le chien mange" = "s* can µaro".
     <br/>
     Lorsque que l'on utilise le determinant, il sert à renforcer le sujet, ou montrer un signe de politesse.
     <br/>
     Les différent déterminants sont :
    </p>
    <ul>
     <li>
      la/le :
      <b class="exemple-grammaire">
       s*
      </b>
     </li>
     <li>
      les :
      <b class="exemple-grammaire">
       s*né
      </b>
     </li>
     <li>
      une/un :
      <b class="exemple-grammaire">
       yu
      </b>
     </li>
     <li>
      des :
      <b class="exemple-grammaire">
       yuné
      </b>
     </li>
    </ul>
    <h2>
     La possession
    </h2>
    <p>
     En Aënor, c'est l'ordre des mots qui indique la relation de possession : le nom possédé se place en premier, suivi du possesseur. Cette construction signifie naturellement "appartenant à", sans particule supplémentaire.
    </p>
    <p>
     <strong>
      Structure : Objet possédé + Possesseur
     </strong>
    </p>
    <ul>
     <li>
      L'épée de l'homme :
      <b class="exemple-grammaire">
       trèfèn var
      </b>
     </li>
     <li>
      Le château du roi :
      <b class="exemple-grammaire">
       *valcor =ocval
      </b>
     </li>
     <li>
      Le destin du peuple :
      <b class="exemple-grammaire">
       dravèn nèran
      </b>
     </li>
    </ul>
    <p>
     Les pronoms possesseurs ont une forme distincte des pronoms personnels, reconnaissable à leur terminaison en
     <strong>
      <b class="exemple-grammaire">
       -;j
      </b>
     </strong>
     :
    </p>
    <ul>
     <li>
      à moi :
      <strong>
       <b class="exemple-grammaire">
        r;j
       </b>
      </strong>
     </li>
     <li>
      à toi :
      <strong>
       <b class="exemple-grammaire">
        d;j
       </b>
      </strong>
     </li>
     <li>
      à lui/elle :
      <strong>
       <b class="exemple-grammaire">
        l;j
       </b>
      </strong>
     </li>
     <li>
      à nous :
      <strong>
       <b class="exemple-grammaire">
        µ;j
       </b>
      </strong>
     </li>
     <li>
      à vous :
      <strong>
       <b class="exemple-grammaire">
        s;j
       </b>
      </strong>
      /
      <strong>
       <b class="exemple-grammaire">
        sin;j
       </b>
      </strong>
      <em>
       (plus poli)
      </em>
     </li>
     <li>
      à eux/elles :
      <strong>
       <b class="exemple-grammaire">
        liy;j
       </b>
      </strong>
      /
      <strong>
       <b class="exemple-grammaire">
        lin;j
       </b>
      </strong>
      <em>
       (plus poli)
      </em>
     </li>
     <li>
      Ma maison :
      <strong>
       <b class="exemple-grammaire">
        bèran r;j
       </b>
      </strong>
     </li>
     <li>
      Ton sac :
      <strong>
       <b class="exemple-grammaire">
        vèrag d;j
       </b>
      </strong>
     </li>
     <li>
      Son chien :
      <strong>
       <b class="exemple-grammaire">
        can l;j
       </b>
      </strong>
     </li>
     <li>
      Notre famille :
      <strong>
       <b class="exemple-grammaire">
        vèlinar µ;j
       </b>
      </strong>
     </li>
    </ul>
    <p>
     <strong>
      Distinguer la possession d'une séquence sujet-agent
     </strong>
    </p>
    <p>
     En Aënor, un groupe possessif (
     <b class="exemple-grammaire">
      trèfèn var
     </b>
     = l'épée de l'homme) et une séquence thème-agent (
     <b class="exemple-grammaire">
      trèfèn var µaro
     </b>
     = l'épée, l'homme la mange) sont distincts par la présence ou l'absence du verbe. Sans verbe, la juxtaposition de deux noms est toujours lue comme une possession. Avec un verbe, les deux noms précédents sont lus comme thème et agent.
    </p>
    <ul>
     <li>
      Deux noms seuls → possession :
      <strong>
       <b class="exemple-grammaire">
        trèfèn var
       </b>
      </strong>
      <em>
       (l'épée de l'homme)
      </em>
     </li>
     <li>
      Deux noms + verbe → thème + agent :
      <strong>
       <b class="exemple-grammaire">
        trèfèn var paco
       </b>
      </strong>
      <em>
       (l'épée, l'homme la prend)
      </em>
     </li>
    </ul>
    <p>
     Lorsqu'on souhaite parler d'un objet possédé dans une phrase verbale, le groupe possessif forme un bloc qui occupe la position du thème :
    </p>
    <ul>
     <li>
      L'homme prend l'épée du roi :
      <strong>
       <b class="exemple-grammaire">
        trèfèn =ocval var paco
       </b>
      </strong>
      <em>
       (l'épée-du-roi, l'homme la prend)
      </em>
     </li>
     <li>
      Je vois la maison de mon ami :
      <strong>
       <b class="exemple-grammaire">
        bèran melvar r;j roy bino
       </b>
      </strong>
      <em>
       (la-maison-de-mon-ami, je la vois)
      </em>
     </li>
    </ul>
    <h2>
     Le pluriel des noms
    </h2>
    <p>
     En Aënor, les noms sont
     <strong>
      invariables
     </strong>
     : ils ne changent jamais de forme au pluriel.
     <br/>
     C'est uniquement le déterminant qui porte l'information du nombre.
     <br/>
     En l'absence de déterminant, le nombre reste indéterminé, mais cette absence agira la majorité du temps comme un adjectif indefini — cette ambiguïté est volontaire et est naturelle en Aënor. On peut par exemple enlever le determinant lorsque l'on sait déjà de qui on parle.
    </p>
    <p>
     Exemples :
    </p>
    <p>
     le chien :
     <b class="exemple-grammaire">
      s* can
     </b>
     <br/>
     les chiens :
     <b class="exemple-grammaire">
      s*né can
     </b>
     <br/>
     un chien :
     <b class="exemple-grammaire">
      can ou yu can
     </b>
     <br/>
     des chiens :
     <b class="exemple-grammaire">
      can ou yuné can
     </b>
     <br/>
     chien(s)
     <em>
      (indéterminé)
     </em>
     :
     <b class="exemple-grammaire">
      can
     </b>
    </p>
    <h2>
     La focalisation et l'objet direct
    </h2>
    <p>
     En Aënor, il n'existe pas de particule spécifique pour marquer le complément d'objet direct. La langue utilise à la place un système de
     <strong>
      focalisation pure
     </strong>
     (langue à dominance de thème, ou
     <em>
      Topic-Prominent
     </em>
     ).
    </p>
    <p>
     Le premier élément de la phrase représente toujours le
     <strong>
      thème
     </strong>
     (ce dont on parle). L'ordre logique des rôles suffit à lever toute ambiguïté sans surcharger la phrase.
    </p>
    <p>
     Structure stricte :
     <strong>
      Thème + Agent + Verbe
     </strong>
    </p>
    <p>
     Exemples :
    </p>
    <ul>
     <li>
      le chien voit l'homme
      <em>
       (le chien est le thème et le sujet)
      </em>
      :
      <b class="exemple-grammaire">
       can var bino
      </b>
     </li>
     <li>
      l'homme est vu par le chien
      <em>
       (l'homme devient le thème)
      </em>
      :
      <b class="exemple-grammaire">
       var can bino
      </b>
     </li>
     <li>
      le roi attaque le seigneur
      <em>
       (le roi est le thème)
      </em>
      :
      <b class="exemple-grammaire">
       =ocval talmor zadco
      </b>
     </li>
     <li>
      le seigneur est attaqué par le roi
      <em>
       (le seigneur est le thème)
      </em>
      :
      <b class="exemple-grammaire">
       talmor =ocval zadco
      </b>
     </li>
     <li>
      l'homme est vu
      <em>
       (l'agent est omis, l'action subie est évidente)
      </em>
      :
      <b class="exemple-grammaire">
       var bino
      </b>
     </li>
    </ul>
    <p>
     Grâce à cette règle, aucun outil grammatical artificiel n'est requis. L'ordre des mots gère à la fois la fonction grammaticale (sujet/objet) et la nuance stylistique (voix active/passive).
    </p>
    <h2>
     Les questions
    </h2>
    <h3>
     Questions fermées (oui / non)
    </h3>
    <p>
     La particule
     <strong>
      -
      <b class="exemple-grammaire">
       ca
      </b>
     </strong>
     est placée comme un suffixe à la fin du verbe pour poser la question.
     <br/>
     L'ordre des mots ne change pas.
    </p>
    <p>
     Réponses courtes :
     <br/>
     Oui :
     <b class="exemple-grammaire">
      ba
     </b>
     <br/>
     Non :
     <b class="exemple-grammaire">
      no/
     </b>
    </p>
    <h3>
     Questions ouvertes
    </h3>
    <p>
     En Aënor, les questions ouverte sont marquées par une particule en fin de proposition, et non à la fin du verbe (contrairement aux questions fermée oui / non). Le "radicale" des particules est "-
     <b class="exemple-grammaire">
      ca
     </b>
     ", utilisée comme dit précédement pour les questions fermées (oui / non)
    </p>
    <p>
     Structure : Proposition + Particules intérogative.
    </p>
    <ul>
     <li>
      <b class="exemple-grammaire">
       µo-ca
      </b>
      = qui
     </li>
     <li>
      <b class="exemple-grammaire">
       nè-ca
      </b>
      = quoi
     </li>
     <li>
      <b class="exemple-grammaire">
       der-ca
      </b>
      = où
     </li>
     <li>
      <b class="exemple-grammaire">
       =aj-ca
      </b>
      = quand
     </li>
     <li>
      <b class="exemple-grammaire">
       *§-ca
      </b>
      = pourquoi
     </li>
     <li>
      <b class="exemple-grammaire">
       téf-ca
      </b>
      = comment
     </li>
     <li>
      <b class="exemple-grammaire">
       gom-ca
      </b>
      = combien
     </li>
    </ul>
    <p>
     <strong>
      Cas des dialogues :
     </strong>
    </p>
    <p>
     En Aënor, il N'EXISTE PAS de ponctuation interrogative.
     <br/>
     Le suffixe
     <strong>
      -
      <b class="exemple-grammaire">
       ca
      </b>
     </strong>
     est donc le principal marqueur qui indique qu'une phrase est une question.
    </p>
    <p>
     Mais dans la langue courante, lors d'un dialogue, il est néanmoins fréquent que ce suffixe soit élidé à l'oral lorsque le contexte rend déjà l'intention évidente. (par exemple : qui ? se dira
     <b class="exemple-grammaire">
      µo
     </b>
     )
     <br/>
     Cette élision ne concerne que la langue parlée ; à l'écrit, la forme complète reste la norme.
    </p>
    <p>
     Exemples :
    </p>
    <p>
     <strong>
      Questions fermées (écrit) :
     </strong>
    </p>
    <p>
     Tu manges ? :
     <b class="exemple-grammaire">
      doy µaro-ca
     </b>
    </p>
    <p>
     Il ne vient pas ? :
     <b class="exemple-grammaire">
      loy nèxoten-ca
     </b>
    </p>
    <p>
     Vous voulez partir ? :
     <b class="exemple-grammaire">
      sinoy veyo-ja§-ca
     </b>
    </p>
    <p>
     <strong>
      Questions ouvertes (écrit) :
     </strong>
    </p>
    <p>
     Qui vient ? :
     <b class="exemple-grammaire">
      nèxo µo-ca
     </b>
    </p>
    <p>
     Tu regardes quoi ? :
     <b class="exemple-grammaire">
      doy bino nè-ca
     </b>
    </p>
    <p>
     Nous allons où ? :
     <b class="exemple-grammaire">
      µoy veyo der-ca
     </b>
    </p>
    <p>
     Pourquoi combattez-vous ? :
     <b class="exemple-grammaire">
      sinoy zadro *§-ca
     </b>
    </p>
    <p>
     Combien de chiens vois-tu ? :
     <b class="exemple-grammaire">
      doy can bino gom-ca
     </b>
    </p>
    <h2>
     L'exclamation
    </h2>
    <p>
     La particule
     <strong>
      <b class="exemple-grammaire">
       =;
      </b>
     </strong>
     , prononcée "leuh" (voir premier chapitre) est placée en début ou en fin de phrase pour marquer l'exclamation. (surprise, indignation, admiration).
     <br/>
     Si l'exclamation et à conotation positive,
     <strong>
      <b class="exemple-grammaire">
       =;
      </b>
     </strong>
     sera à la fin de la phrase. (surprise, admiration, etc.)
     <br/>
     Si l'exclamation et à conotation négative,
     <strong>
      <b class="exemple-grammaire">
       =;
      </b>
     </strong>
     sera au début de la phrase. (colère, indignation, etc.)
     <br/>
     La structure des question ne change pas, on peut donc faire des questions exclamatives.
     <br/>
     <strong>
      <b class="exemple-grammaire">
       =;
      </b>
     </strong>
     tout seul dans une phrase peut être utilisé comme un "Ah !" d'étonnement français.
    </p>
    <p>
     Exemples :
    </p>
    <p>
     Quel bel homme !
     <em>
      (admiration)
     </em>
     :
     <b class="exemple-grammaire">
      var melyè =;
     </b>
    </p>
    <p>
     Nous avons gagné !
     <em>
      (joie, réussite)
     </em>
     :
     <b class="exemple-grammaire">
      µoy melco§eno =;
     </b>
    </p>
    <p>
     Tu as cassé mon épée !
     <em>
      (colère)
     </em>
     :
     <b class="exemple-grammaire">
      =; doy trèfèn r;j croceno
     </b>
    </p>
    <p>
     Le village brûle !
     <em>
      (panique)
     </em>
     :
     <b class="exemple-grammaire">
      =; nerac §yéro
     </b>
    </p>
    <p>
     Tu viens vraiment ?!
     <em>
      (surprise)
     </em>
     :
     <b class="exemple-grammaire">
      doy nèxo-ca =;
     </b>
    </p>
    <p>
     Tu ne viens pas ?!
     <em>
      (indignation)
     </em>
     :
     <b class="exemple-grammaire">
      =; doy nèxoten-ca
     </b>
    </p>
    <p>
     <strong>
      <b class="exemple-grammaire">
       =;
      </b>
     </strong>
     tout seul =
     <em>
      « Ah ! » ; interjection exprimant la surprise, la stupeur ou l'incompréhension.
     </em>
    </p>
    <h2>
     La comparaison
    </h2>
    <p>
     En Aënor, la comparaison se marque par une particule placée après l'adjectif.
     <br/>
     L'élément de référence est placé ensuite, sans mot équivalent à « que ».
    </p>
    <p>
     <strong>
      Supériorité
     </strong>
     (plus ... que) : [adjectif]
     <strong>
      <b class="exemple-grammaire">
       gor
      </b>
     </strong>
    </p>
    <p>
     <strong>
      Infériorité
     </strong>
     (moins ... que) : [adjectif]
     <strong>
      <b class="exemple-grammaire">
       ixi
      </b>
     </strong>
    </p>
    <p>
     <strong>
      Égalité
     </strong>
     (aussi ... que) : [adjectif]
     <strong>
      <b class="exemple-grammaire">
       lém
      </b>
     </strong>
    </p>
    <p>
     <strong>
      Superlatif
     </strong>
    </p>
    <p>
     Le superlatif est formé par les particules
     <b class="exemple-grammaire">
      b*go
     </b>
     <em>
      (le plus)
     </em>
     et
     <b class="exemple-grammaire">
      pix
     </b>
     <em>
      (le moins)
     </em>
     , placées après l'adjectif. Le groupe de référence — ce par rapport à quoi on compare — est introduit par la préposition
     <strong>
      <b class="exemple-grammaire">
       nè
      </b>
     </strong>
     <em>
      (parmi, dans)
     </em>
     et placé après la particule.
    </p>
    <p>
     <strong>
      Structure :
     </strong>
     <br/>
     [Sujet] [Adjectif]
     <b class="exemple-grammaire">
      [b*go
     </b>
     /
     <b class="exemple-grammaire">
      pix
     </b>
     ]
     <b class="exemple-grammaire">
      nè
     </b>
     [Groupe de référence]
    </p>
    <p>
     Si le groupe de référence est évident ou non pertinent,
     <b class="exemple-grammaire">
      nè
     </b>
     + [groupe] peut être omis.
    </p>
    <p>
     Exemples :
    </p>
    <ul>
     <li>
      le plus grand homme parmi les guerriers :
      <b class="exemple-grammaire">
       var gorè b*go nè talmor
      </b>
     </li>
     <li>
      ce dragon est le moins paisible de la forêt :
      <b class="exemple-grammaire">
       valcor vélinè pix nè dar²norya
      </b>
     </li>
     <li>
      l'épée la plus tranchante
      <em>
       (référence omise, contexte suffit)
      </em>
      :
      <b class="exemple-grammaire">
       trèfèn trèfè b*go
      </b>
     </li>
     <li>
      le chien le moins fort du village :
      <b class="exemple-grammaire">
       can bègorè pix nè nerac
      </b>
     </li>
    </ul>
    <h2>
     Les prépositions
    </h2>
    <p>
     Les prépositions se placent directement devant le nom qu'elles introduisent, sans déterminant obligatoire. Elles sont toutes invariables.
    </p>
    <ul>
     <li>
      dans, en (lieu ou état) :
      <b class="exemple-grammaire">
       nè
      </b>
     </li>
     <li>
      sur :
      <b class="exemple-grammaire">
       paj
      </b>
     </li>
     <li>
      sous :
      <b class="exemple-grammaire">
       nor
      </b>
     </li>
     <li>
      vers, en direction de :
      <b class="exemple-grammaire">
       §ayi
      </b>
     </li>
     <li>
      avec :
      <b class="exemple-grammaire">
       =em
      </b>
     </li>
     <li>
      sans :
      <b class="exemple-grammaire">
       bro
      </b>
     </li>
     <li>
      pour (but) :
      <b class="exemple-grammaire">
       =as
      </b>
     </li>
     <li>
      de, depuis (origine) :
      <b class="exemple-grammaire">
       pa/²tir
      </b>
     </li>
     <li>
      entre :
      <b class="exemple-grammaire">
       =;§
      </b>
     </li>
     <li>
      contre :
      <b class="exemple-grammaire">
       zad
      </b>
     </li>
     <li>
      avant (temps) :
      <b class="exemple-grammaire">
       val²tir
      </b>
     </li>
     <li>
      après (temps) :
      <b class="exemple-grammaire">
       o§²der
      </b>
     </li>
     <li>
      par :
      <b class="exemple-grammaire">
       tir
      </b>
     </li>
     <li>
      chez :
      <b class="exemple-grammaire">
       naraj
      </b>
     </li>
     <li>
      autour :
      <b class="exemple-grammaire">
       tir²val
      </b>
     </li>
     <li>
      à travers :
      <b class="exemple-grammaire">
       tir²nè
      </b>
     </li>
     <li>
      loin de :
      <b class="exemple-grammaire">
       sèn
      </b>
     </li>
     <li>
      près de :
      <b class="exemple-grammaire">
       fela
      </b>
     </li>
     <li>
      grâce à :
      <b class="exemple-grammaire">
       i=e
      </b>
     </li>
     <li>
      à cause de :
      <b class="exemple-grammaire">
       cro²var
      </b>
     </li>
    </ul>
    <p>
     Exemples :
    </p>
    <ul>
     <li>
      il part vers l'homme :
      <b class="exemple-grammaire">
       loy veyo §ayi var
      </b>
     </li>
     <li>
      nous mangeons avec le chien :
      <b class="exemple-grammaire">
       µoy µaro =em can
      </b>
     </li>
     <li>
      je dors dans la maison :
      <b class="exemple-grammaire">
       roy noro nè bèran
      </b>
     </li>
     <li>
      il parle pour l'enfant :
      <b class="exemple-grammaire">
       loy balbèdo =as nèly
      </b>
     </li>
     <li>
      le chat est sous la table :
      <b class="exemple-grammaire">
       l*bin pazo nor tèpal
      </b>
     </li>
     <li>
      tu marches entre l'homme et la femme :
      <b class="exemple-grammaire">
       doy daro =;§ var bèya vor
      </b>
     </li>
     <li>
      ils combattent contre le dragon :
      <b class="exemple-grammaire">
       linoy zadro zad valcor
      </b>
     </li>
     <li>
      je passe à travers la forêt :
      <b class="exemple-grammaire">
       roy tirxo tir²nè dar²norya
      </b>
     </li>
     <li>
      le village est près de la rivière :
      <b class="exemple-grammaire">
       nerac pazo fela l*mé
      </b>
     </li>
     <li>
      il réussit grâce à son ami :
      <b class="exemple-grammaire">
       loy melco§o i=e melvar
      </b>
     </li>
    </ul>
    <h2>
     Les conjonctions de coordination
    </h2>
    <p>
     Les conjonctions de coordination relient deux propositions ou deux éléments de même niveau.
     <br/>
     Elles sont toutes invariables et se placent entre les deux éléments coordonnés.
    </p>
    <ul>
     <li>
      et :
      <b class="exemple-grammaire">
       bèya
      </b>
     </li>
     <li>
      mais :
      <b class="exemple-grammaire">
       borya
      </b>
     </li>
     <li>
      ou :
      <b class="exemple-grammaire">
       bavya
      </b>
     </li>
     <li>
      donc :
      <b class="exemple-grammaire">
       bensya
      </b>
     </li>
     <li>
      car :
      <b class="exemple-grammaire">
       belya
      </b>
     </li>
     <li>
      alors :
      <b class="exemple-grammaire">
       barya
      </b>
     </li>
     <li>
      ainsi :
      <b class="exemple-grammaire">
       bèmelya
      </b>
     </li>
     <li>
      cependant :
      <b class="exemple-grammaire">
       banya
      </b>
     </li>
     <li>
      toutefois :
      <b class="exemple-grammaire">
       bèsya
      </b>
     </li>
     <li>
      néanmoins :
      <b class="exemple-grammaire">
       bodza
      </b>
     </li>
     <li>
      pourtant :
      <b class="exemple-grammaire">
       bènya
      </b>
     </li>
     <li>
      c'est-à-dire :
      <b class="exemple-grammaire">
       balya
      </b>
     </li>
     <li>
      ensuite :
      <b class="exemple-grammaire">
       bèrya
      </b>
     </li>
     <li>
      au-contraire :
      <b class="exemple-grammaire">
       bèdya
      </b>
     </li>
     <li>
      or :
      <b class="exemple-grammaire">
       bècya
      </b>
     </li>
    </ul>
    <p>
     Exemples :
    </p>
    <ul>
     <li>
      le chien et l'homme mangent :
      <b class="exemple-grammaire">
       can bèya var µaro
      </b>
     </li>
     <li>
      tu pars ou tu dors ? :
      <b class="exemple-grammaire">
       doy veyo bavya doy noro-ca
      </b>
     </li>
     <li>
      il est fort mais il ne mange pas :
      <b class="exemple-grammaire">
       loy bègorè borya loy µaroten
      </b>
     </li>
     <li>
      il part donc il mange :
      <b class="exemple-grammaire">
       loy veyo bensya loy µaro
      </b>
     </li>
     <li>
      nous cherchons pourtant nous ne trouvons pas :
      <b class="exemple-grammaire">
       µoy silxo bènya µoy méxioten
      </b>
     </li>
     <li>
      je veux venir cependant je ne peux pas :
      <b class="exemple-grammaire">
       roy nèxo-ja§ banya roy nèxo-bapten
      </b>
     </li>
    </ul>
    <h2>
     Place des subordonnants en Aënor
    </h2>
    <p>
     En Aënor, les subordonnants ne se placent pas au début de la proposition comme en français.
     <br/>
     Ils se placent à la fin de la proposition qu'ils introduisent, et marquent sa fonction. Structure :
    </p>
    <p>
     Proposition principale + [proposition subordonnée + subordonnant]
    </p>
    <p>
     Listes des différent subordonnants :
    </p>
    <ul>
     <li>
      lorsque, quand : -
      <b class="exemple-grammaire">
       vaypa
      </b>
     </li>
     <li>
      parce que, car (cause) : -
      <b class="exemple-grammaire">
       bodpa
      </b>
     </li>
     <li>
      bien que, même si (concession) : -
      <b class="exemple-grammaire">
       nèpa
      </b>
     </li>
     <li>
      si (condition) : -
      <b class="exemple-grammaire">
       §a
      </b>
     </li>
     <li>
      afin que, pour que (but) : -
      <b class="exemple-grammaire">
       nolpa
      </b>
     </li>
     <li>
      jusqu'à ce que (limite temporelle) : -
      <b class="exemple-grammaire">
       norvpa
      </b>
     </li>
     <li>
      depuis que (origine temporelle) : -
      <b class="exemple-grammaire">
       decpa
      </b>
     </li>
     <li>
      que (complétive) : -
      <b class="exemple-grammaire">
       acpa
      </b>
     </li>
    </ul>
    <p>
     Exemples :
    </p>
    <ul>
     <li>
      Je vois lorsque tu viens :
      <b class="exemple-grammaire">
       roy bino doy nèxo vaypa
      </b>
     </li>
     <li>
      Tu restes bien que tu aies peur :
      <b class="exemple-grammaire">
       doy varo doy sipco nèpa
      </b>
     </li>
     <li>
      Je mange si tu arrives :
      <b class="exemple-grammaire">
       roy µaro doy nèxo §a
      </b>
     </li>
     <li>
      Je travaille afin que tu comprennes :
      <b class="exemple-grammaire">
       roy daro§o doy cavexo nolpa
      </b>
     </li>
     <li>
      L'homme attend jusqu'à ce que le chien vienne :
      <b class="exemple-grammaire">
       var noro§o can nèxo norvpa
      </b>
     </li>
     <li>
      Je sais depuis qu'il parle :
      <b class="exemple-grammaire">
       roy reno loy balbèdo decpa
      </b>
     </li>
    </ul>
    <h2>
     Les verbes modaux en Aënor
    </h2>
    <p>
     En Aënor, les verbes modaux ne sont pas de véritables verbes.
     <br/>
     Ils prennent la forme de particules placées après le verbe principal, ce qui évite les constructions occidentales du type « vouloir manger » ou « pouvoir venir ».
    </p>
    <p>
     <strong>
      Structure : Sujet + Verbe + Modalité
     </strong>
     Les particules modales sont réliées au verbe par "
     <b class="exemple-grammaire">
      -
     </b>
     ". Ce sont les seuls suffixes qui se relient par un "
     <b class="exemple-grammaire">
      -
     </b>
     "
    </p>
    <p>
     Les principales particules modales sont :
    </p>
    <ul>
     <li>
      <strong>
       <b class="exemple-grammaire">
        -ja§
       </b>
      </strong>
      : vouloir
     </li>
     <li>
      <strong>
       <b class="exemple-grammaire">
        -bap
       </b>
      </strong>
      : pouvoir
     </li>
     <li>
      <strong>
       <b class="exemple-grammaire">
        -dor
       </b>
      </strong>
      : devoir
     </li>
     <li>
      <strong>
       <b class="exemple-grammaire">
        -mel
       </b>
      </strong>
      : souhaiter
     </li>
     <li>
      <strong>
       <b class="exemple-grammaire">
        -§ar
       </b>
      </strong>
      : oser
     </li>
    </ul>
    <p>
     Exemples :
    </p>
    <ul>
     <li>
      <b class="exemple-grammaire">
       roy µaro-ja§
      </b>
      : Je veux manger.
     </li>
     <li>
      <b class="exemple-grammaire">
       doy veyo-bap
      </b>
      : tu peux partir.
     </li>
     <li>
      <b class="exemple-grammaire">
       loy veyo-dor
      </b>
      : Il doit partir.
     </li>
     <li>
      <b class="exemple-grammaire">
       roy µaro-mel
      </b>
      : J'aimerais/souhaiterais manger.
     </li>
     <li>
      <b class="exemple-grammaire">
       sinoy zadco-§ar
      </b>
      : Vous osez attaquer.
     </li>
    </ul>
    <h2>
     Les nombres en Aënor
    </h2>
    <p>
     Le système numérique Aënor utilise une base 12 plutôt qu'une base 10. Ainsi, après le chiffre 11, on passe à 10, qui représente en réalité douze unités. Ce choix vient de la grande divisibilité du nombre 12, qui facilite les calculs et les fractions.
     <br/>
     Chaque nombre possède à la fois une valeur mathématique et une valeur symbolique, héritée des croyances et de la culture aënorienne.
     <br/>
     Les nombres ne sont donc pas de simples outils de calcul, mais également des concepts philosophiques.
    </p>
    <table>
     <thead>
      <tr>
       <th>
        Nombre en base 10 (nombre arabe)
       </th>
       <th>
        Nombre en base 12 Aënor (nombre/symboles à utiliser pour la typographie en Aënor)
       </th>
       <th>
        Prononciation
       </th>
       <th>
        Valeur symbolique
       </th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td>
        0
       </td>
       <td>
        <b class="exemple-grammaire">
         0
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          oro
         </b>
        </strong>
       </td>
       <td>
        Le Vide, l'absence, le néant.
       </td>
      </tr>
      <tr>
       <td>
        1
       </td>
       <td>
        <b class="exemple-grammaire">
         1
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          val
         </b>
        </strong>
       </td>
       <td>
        L'Origine, l'unité, le commencement.
       </td>
      </tr>
      <tr>
       <td>
        2
       </td>
       <td>
        <b class="exemple-grammaire">
         2
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          der
         </b>
        </strong>
       </td>
       <td>
        Le Reflet, la dualité, l'équilibre.
       </td>
      </tr>
      <tr>
       <td>
        3
       </td>
       <td>
        <b class="exemple-grammaire">
         3
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          vay
         </b>
        </strong>
       </td>
       <td>
        Le Chemin, la progression, le mouvement.
       </td>
      </tr>
      <tr>
       <td>
        4
       </td>
       <td>
        <b class="exemple-grammaire">
         4
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          drèb
         </b>
        </strong>
       </td>
       <td>
        Les Racines, la stabilité, les fondations.
       </td>
      </tr>
      <tr>
       <td>
        5
       </td>
       <td>
        <b class="exemple-grammaire">
         5
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          dar
         </b>
        </strong>
       </td>
       <td>
        La Main, l'action, la création.
       </td>
      </tr>
      <tr>
       <td>
        6
       </td>
       <td>
        <b class="exemple-grammaire">
         6
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          mel
         </b>
        </strong>
       </td>
       <td>
        L'Équilibre, l'harmonie parfaite.
       </td>
      </tr>
      <tr>
       <td>
        7
       </td>
       <td>
        <b class="exemple-grammaire">
         7
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          §yèl
         </b>
        </strong>
       </td>
       <td>
        Les Astres, le voyage, l'influence céleste.
       </td>
      </tr>
      <tr>
       <td>
        8
       </td>
       <td>
        <b class="exemple-grammaire">
         8
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          cayr
         </b>
        </strong>
       </td>
       <td>
        Le Cycle, le retour, le renouvellement.
       </td>
      </tr>
      <tr>
       <td>
        9
       </td>
       <td>
        <b class="exemple-grammaire">
         9
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          drav
         </b>
        </strong>
       </td>
       <td>
        Le Destin, les choix et leurs conséquences.
       </td>
      </tr>
      <tr>
       <td>
        10
       </td>
       <td>
        <b class="exemple-grammaire">
         °
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          µar
         </b>
        </strong>
       </td>
       <td>
        La Transformation, le changement profond.
       </td>
      </tr>
      <tr>
       <td>
        11
       </td>
       <td>
        <b class="exemple-grammaire">
         ¤
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          vèl
         </b>
        </strong>
       </td>
       <td>
        L'Accomplissement, l'achèvement d'un cycle.
       </td>
      </tr>
      <tr>
       <td>
        12
       </td>
       <td>
        <b class="exemple-grammaire">
         10
        </b>
       </td>
       <td>
        <strong>
         <b class="exemple-grammaire">
          val-oro
         </b>
        </strong>
       </td>
       <td>
        Le Premier Cycle complet.
       </td>
      </tr>
     </tbody>
    </table>
    <table>
     <thead>
      <tr>
       <th>
        Base 10
       </th>
       <th>
        Base 12 Aënor
       </th>
       <th>
        Lecture
       </th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td>
        12
       </td>
       <td>
        <b class="exemple-grammaire">
         10
        </b>
       </td>
       <td>
        Un cycle
       </td>
      </tr>
      <tr>
       <td>
        13
       </td>
       <td>
        <b class="exemple-grammaire">
         11
        </b>
       </td>
       <td>
        Un cycle et une origine
       </td>
      </tr>
      <tr>
       <td>
        24
       </td>
       <td>
        <b class="exemple-grammaire">
         20
        </b>
       </td>
       <td>
        Deux cycles
       </td>
      </tr>
      <tr>
       <td>
        36
       </td>
       <td>
        <b class="exemple-grammaire">
         30
        </b>
       </td>
       <td>
        Trois cycles
       </td>
      </tr>
      <tr>
       <td>
        144
       </td>
       <td>
        <b class="exemple-grammaire">
         100
        </b>
       </td>
       <td>
        Un grand cycle (12²)
       </td>
      </tr>
     </tbody>
    </table>
    <h3>
     Les ordinaux
    </h3>
    <p>
     Les nombres ordinaux (premier, deuxième…) se forment en ajoutant le suffixe
     <strong>
      -
      <b class="exemple-grammaire">
       ayn
      </b>
     </strong>
     au nom du nombre :
    </p>
    <p>
     premier :
     <strong>
      <b class="exemple-grammaire">
       valayn
      </b>
     </strong>
     <br/>
     deuxième :
     <strong>
      <b class="exemple-grammaire">
       derayn
      </b>
     </strong>
     <br/>
     troisième :
     <strong>
      <b class="exemple-grammaire">
       vayayn
      </b>
     </strong>
     <br/>
     douzième (premier d'un cycle) :
     <strong>
      <b class="exemple-grammaire">
       val-oroayn
      </b>
     </strong>
    </p>
    <p>
     L'ordinal se place après le nom qu'il qualifie, comme un adjectif :
    </p>
    <p>
     le premier homme :
     <strong>
      <b class="exemple-grammaire">
       var valayn
      </b>
     </strong>
     <br/>
     le troisième chien :
     <strong>
      <b class="exemple-grammaire">
       can vayayn
      </b>
     </strong>
    </p>
</div>
{% endblock %}